button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px 20px;
    border-radius: 30px;
    background-color: var(--accent-secondary);
    color: var(--text-on-accent);
    text-transform:uppercase;
    border: none;
    font-size: larger;
    font-family: cursive;
    box-shadow:1px 1px 0.5cm 1px var(--accent-primary);
}
button:hover{
    transform: scale(103%);
     box-shadow:1px 1px 0.6cm 2px var(--accent-primary);
    cursor: pointer;
}
button:active{
    transform: scale(93%);
    background-color:var(--text-on-accent) ;
    color:var(--accent-secondary) ;
}
#theme{
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 10;
}