.main_card_section{
    height: 10vh;
    width: 100vw;
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 
.main_section_card{
    text-transform: uppercase;
    background-color: var(--color-bg-surface-mid);
    color: var(--color-text-primary);
    border-radius: 15px;
    border: 1px solid var(--color-border-subtle);
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}
.main_section_card:hover{
    filter: brightness(130%);
    cursor: pointer;
    
}
.main_section_card:active{
    filter: brightness(160%);
    transform: scale(95%);
    border: 2px inset var(--color-accent-hover);
}
.main_section_card_active{
    border: 1px solid var(--color-border-focus);
    color: var(--color-text-secondary);
    filter: brightness(160%);
    box-shadow: 0px 0px 0.3cm 1px var(--color-border-focus);
} */

.main_section_card {
  font-size: 1.2rem;
  padding: 1rem 6.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.main_section_card:active {
  scale: 0.92;
}

.main_section_card:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}
.main_section_card_active{
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}
